* {
    box-sizing: border-box;
}
html {
    font-family: "Open Sans", Arial, sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    height: 100%;
}
ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header {
    color: #fff;
    background-color: #000;
    display: flex;
    padding: 1rem;
    width: 100%;
}
h1 {
    font-size: 1.25rem;
    line-height: 1;
    margin: 0;
}
h2 {
    font-size: 2rem;
    margin: 0;
    text-transform: uppercase;
    color: inherit;
    color: #888;
    font-weight: lighter;
}
h3 {
    font-size: 1.4rem;
    margin: 0;
    color: inherit;
    color: #888;
    font-weight: lighter;
    margin-top: 2rem;
}
#app {
    height: 100%;
}
.login-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}
.login-form {
    display: flex;
    flex-direction: column;
}
.logo-name {
    font-size: 1.25rem;
    line-height: 1;
    margin-right: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.logo-name a {
    text-decoration: none;
    color: white;
}
.tagline {
    margin: 0;
}
.logout-header {
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
}

select {
    border: 1px solid #fff;
    background: white;
    padding: 0.1rem 1rem 0.1rem 0.2rem;
}

.code {
    font-family: courier;
    color: white;
    background: #29353d;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 0.8rem;
    overflow-x: scroll;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-grow: 1;
}

/* --- Detail Page --- */

.detail {
    display: flex;
    flex-direction: column;
}

.detail-header {
    padding: 0px;
}

.detail-header {
    padding: 1rem;
    background-color: #ddf3d5;
    border-left: 10px solid #9dce0a;
    margin-top: 1rem;
}

.detail-header a {
    text-decoration: none;
    color: black;
}
.detail-header.item-ko {
    background-color: #f1d1d8;
    border-left-color: #fa5e59;
}
.detail-header.item-disabled {
    background-color: #e7ecef;
    border-left-color: #859cad;
}

/* --- Home Page --- */

.home {
    display: flex;
    flex-direction: row;
}

.home-sidebar {
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-grow:1;
    max-width: 20%;
}

.home-sidebar .sidebar-items {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.home-sidebar .sidebar-item {
    padding: 0.5em;
    background-color: #ddf3d5;
    border-left: 10px solid #9dce0a;
    margin-bottom: 0.5rem;
}

.home-content {
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.home-content .list {
    padding: 0;
}

.home-content .item {
    padding: 1rem;
    background-color: #ddf3d5;
    border-left: 10px solid #9dce0a;
    margin-top: 1rem;
}

.home-content .item a {
    text-decoration: none;
    color: black;
}
.home-content .item-ko {
    background-color: #f1d1d8;
    border-left-color: #fa5e59;
}
.home-content .item-disabled {
    background-color: #e7ecef;
    border-left-color: #859cad;
}

.home-content .item-content {
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 650px) {
    .home {
        flex-direction: column;
    }

    .home-sidebar {
        max-width: 100%;
    }

    .home-sidebar .sidebar-items {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .home-sidebar .sidebar-item {
        margin-right: 0.3em;
    }
}

/* --- Home Summary --- */
.summary {
    display: flex;
    margin-bottom: 1rem;
}
.summary .data {
    flex-direction: column;
}
.summary .progress {
    flex: 1;
    flex-grow: 1;
    display: flex;
    background: #eee;
    margin-right: 1rem;
}
.summary .progress .bar {
    flex-direction: column;
}
.summary .progress .bar-ok {
    background-color: #9dce0a;
}
.summary .progress .bar-ko {
    background-color: #fa5e59;
}
.summary .progress .bar-disabled {
    background-color: #859cad;
}
.summary .data {
    display: flex;
    min-width: 22em;
    flex-direction: row;
    justify-content: space-around;
}
.summary .data li {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #ddf3d5;
    border-left: 10px solid #9dce0a;
    display: inline-block;
}
.summary .data li.data-ko {
    background-color: #f1d1d8;
    border-left-color: #fa5e59;
}
.summary .data li.data-disabled {
    background-color: #e7ecef;
    border-left-color: #859cad;
}
.summary .data .value {
    font-weight: bold;
    margin-right: 5px;
}

@media only screen and (max-width: 650px) {
    .summary {
        flex-direction: column;
    }
    .summary .progress {
        display:none;
    }
    .summary .data li {
        padding: 0.5rem 1rem;
        width: 30%;
    }
    .summary .data .value {
        display: block;
    }
}

/* --- Other --- */

.meta {
    font-size: 0.9rem;
    margin-top: 1rem;
}
.meta li {
    display: inline-block;
    margin-right: 1rem;
}
.tag {
    font-size: 0.8rem;
    background-color: #ddd;
    padding: 0 0.2rem;
    border-radius: 4px;
}

.is-disabled {
    opacity: 0.5;
}
.is-active {
}


